body.complex-page {
  background: #fff;
}

.header-main {
  border-bottom: solid 1px #eaebf0;
}

.complex-header {
  padding-top: 24px;
  padding-bottom: 17px;
}

.complex-name {
  margin-top: 2px;
  margin-bottom: 0;
  font-family: 'Philosopher', sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.12;
  color: #3e4247;
}

.complex-address {
  font-size: 14px;
  font-weight: 300;
  color: #a9afb6;
  margin: 0.5rem 0 0 0;
  line-height: 1.375rem;
}

.complex-add-to-favorite {
  margin-right: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 10px;
  cursor: pointer;
  font-weight: 300;
  line-height: 1;
  color: #00779a;
  border-radius: 2px;
  border: 1px solid #e0e0e1;
  background: transparent;
}

.complex-carousel-images {
  display: flex;
  justify-content: center;
}

.complex-carousel-button-wrap {
  position: absolute;
  margin: -2.625rem 0 0 0.5rem;
}

.button-complex-view-photos {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 2px;
  cursor: pointer;
  border: 0;
  background-color: #00779a;
  font-size: 10px;
  font-weight: 300;
  line-height: 1;
  color: #fff;
}
