body.complex-page {
  background: #fff;
}

.header-main {
  border-bottom: solid 1px #eaebf0;
}

.complex-header {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.complex-name {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Philosopher', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.25rem;
  color: #3e4247;
}

.complex-address {
  font-size: 0.875rem;
  font-weight: 300;
  color: #a9afb6;
  margin: 0.5rem 0 0 0;
  line-height: 1.375rem;
}

.complex-add-to-favorite {
  margin-right: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 0.625rem;
  cursor: pointer;
  font-weight: 300;
  line-height: 0.625rem;
  color: #00779a;
  border-radius: 2px;
  border: 1px solid #e0e0e1;
  background: transparent;
}

.complex-carousel-images {
  display: flex;
  overflow-x: hidden;
}

.complex-carousel-button-wrap {
  position: absolute;
  margin: -2.625rem 0 0 0.5rem;
}

.complex-carousel-button-view-photos {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 2px;
  cursor: pointer;
  border: 0;
  background-color: #00779a;
  font-size: 0.625rem;
  font-weight: 300;
  line-height: 0.625rem;
  color: #fff;
}

.complex-properties {
  display: flex;
  margin-top: 1.5rem;
  border-bottom: 1px solid #e0e0e1;
}

.complex-properties-item {
  margin-right: 3rem;
  margin-bottom: 1.5rem;
}

.complex-property-heading {
  margin: 0;
  font-family: 'Philosopher';
  font-size: 1.5rem;
  font-weight: bold;
  color: #3e4247;
}

.complex-property-subheading {
  font-family: 'Fira sans', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  display: block;
  color: #a9afb6;
  margin: 0.5rem 0 0 0;
  line-height: 1.375rem;
}

.complex-characteristics {
  margin-top: 2rem;
}

.complex-characteristics-title,
.complex-description-title,
.complex-infrastructure-title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.6875rem;
  font-family: 'Philosopher';
  color: #3e4247;
}

.complex-characteristics-title {
  margin-top: 0;
  color: #3e4247;
  margin-bottom: 1.125rem;
}

.complex-characteristic-block {
  display: flex;
  margin: 0.5rem 0 0 0;
}

.complex-characteristic-block:first-child {
  margin-top: 0px;
}

.complex-characteristic-name {
  font-size: 1rem;
  color: #a9afb6;
  width: 50%;
  line-height: 1.5625rem;
}

.complex-characteristic-value {
  font-size: 1rem;
  font-weight: 500;
  color: #3e4247;
  width: 50%;
  margin: 0;
  line-height: 1.5625rem;
}

.complex-description {
  margin-top: 3rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #e0e0e1;
}

.complex-description-text {
  font-size: 1rem;
  line-height: 1.5625rem;
  color: #3e4247;
  margin: 0;
}

.complex-description-title {
  margin: 0;
}

.complex-infrastructure-text {
  margin: 0;
  color: #3e4247;
  line-height: 1.5625rem;
}

.complex-infrastructure {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.complex-infrastructure-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.complex-offers {
  padding: 4rem 0 4rem 0;
  background-color: #f4f5f9;
}

.complex-offers-title {
  margin-bottom: 1.5rem;
  margin-top: 0;
  font-family: 'Philosopher';
  font-size: 1.5rem;
  font-weight: bold;
  color: #3e4247;
  text-align: center;
}

.complex-offer {
  background-color: #fff;
  padding: 1.5rem 2rem;
}

.complex-offer-title {
  font-family: 'Philosopher';
  font-size: 20px;
  font-weight: bold;
  color: #3e4247;
  margin: 0 0 1.5rem 0;
}

.complex-offer-property-block {
  margin: 0 0 1.5625rem 0;
}

.complex-offer-property-name {
  color: #a9afb6;
  margin: 0 0 0.5rem 0;
}

.complex-offer-property-value {
  margin: 0;
  font-family: 'Fira Sans';
  color: #3e4247;
  line-height: 1.5625rem;
}

.complex-offer-button-wrapper {
  margin-top: 11px;
}

.complex-offer-button {
  border-radius: 2px;
  border: 0px;
  cursor: pointer;
  background-color: #000;
  padding: 0.8125rem 1.875rem 0.8125rem 1.875rem;
  color: #fff;
  font-size: 1rem;
  line-height: 1rem;
  font-family: 'Fira Sans', sans-serif;
}

.complex-district-block {
  background-color: #3e4247;
  padding-top: 4rem;
  padding-bottom: 13.625rem;
}

.complex-district-heading {
  margin: 0;
  font-family: 'Philosopher';
  font-size: 1.5rem;
  font-weight: bold;
  color: #a9afb6;
}

.complex-district-description {
  font-family: 'Philosopher';
  font-size: 3rem;
  font-weight: bold;
  line-height: 3.75rem;
  color: #fff;
  margin: 3rem 0 3rem 0;
}

.complex-district-link {
  text-decoration: none;
  font-family: 'Fira Sans';
  font-size: 1rem;
  color: #00779a;
}

.complex-district-photo {
  width: 37.5rem;
  height: 35rem;
}

.complex-location {
  margin-top: -9.625rem;
  padding-bottom: 3.75rem;
}

.complex-map {
  width: 100%;
  height: 19.125rem;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
}

.complex-location-content {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
}

.complex-location-content-block {
  padding: 1.5rem;
  background-color: #fff;
  border-bottom: solid 1px #e0e0e1;
}

.complex-location-name {
  margin: 0;
  font-family: 'Fira Sans';
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  color: #3e4247;
}

.complex-location-duration {
  margin: 0.5rem 0 0 0;
  font-family: 'Fira Sans';
  font-size: 1rem;
  line-height: 1.375rem;
  color: #a9afb6;
}

