body {
  font-family: 'Fira Sans', sans-serif;
  background: #eaebf0 url('../images/background.png') repeat;
  background-size: 1.25rem 0.625rem;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
}

.complex-page {
  background: #fff;
}
